<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="drinkWater">
      <ion-icon name="water"></ion-icon>
      <ion-label>{{ 'tabs.drinkWater' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>{{ 'tabs.analysis' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
