<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="water"></ion-icon>
      {{ 'drinkWater.homepage' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'drinkWater.amountOfWaterForDrinkToday' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ 'drinkWater.drinkWater' | translate }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
              <ion-button color="light" (click)="addDrinkValue(150)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                150 ML
              </ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="light" (click)="addDrinkValue(200)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                200 ML
              </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-button color="light" (click)="addDrinkValue(250)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                250 ML
              </ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="primary" (click)="openSelectOtherDrink()">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="add-circle-outline"></ion-icon>
                &nbsp;
                {{ 'drinkWater.manuel' | translate }}
              </ion-button>
              <ion-select hidden="true" [interfaceOptions]="customSelectDrinkHeaderOptions" [(ngModel)]="selectedChoice" (ionChange)="changeSelectedDrinkValue()" cancelText="{{'global.cancel' | translate}}" okText="{{'global.save' | translate}}" #selectOtherDrinkValues>
                <ion-select-option *ngFor="let item of otherDrinkValues" [value]="item.value">
                  {{item.text}}
                </ion-select-option>
              </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="light" size="small" expand="full" (click)="openTodayDrinkList()">
              <ion-ripple-effect></ion-ripple-effect>
              {{ 'drinkWater.amountOfWaterForDrinkingToday' | translate }} ({{ todayDate }})
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="dark" size="small" expand="full" (click)="addDrinkValueToPast()">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="add"></ion-icon>
              &nbsp;
              {{ 'drinkWater.addDrinkValueToPast' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>