<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="water"></ion-icon>
      Anasayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bugün İçmeniz Gereken Su Miktarı</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Su İçin</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-button color="light">
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                150 ML
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button color="light">
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                200 ML
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button color="light">
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                250 ML
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-button color="primary">
                <ion-icon size="large" src="assets/img/bottle.svg"></ion-icon>
                Elle Girin
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>