<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="settings"></ion-icon>
      {{ 'settings.settings' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header color="light">
      <ion-label>{{ 'settings.amountOfWaterForDrinkDaily' | translate }}</ion-label>
    </ion-list-header>
    <ion-item (click)="openAmountPrompt()" detail>
      <ion-label item-start>
        {{ 'settings.amountOfWater' | translate }}
      </ion-label>
      <ion-label color="primary" text-end>
        {{amountOfWaterDaily}} ML
      </ion-label>
    </ion-item>
    <ion-item (click)="calculation()" detail>
      <ion-label>{{ 'settings.dailyWaterRequirementCalculation' | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <ion-label>{{ 'settings.languageSettings' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'settings.language' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()" [interfaceOptions]="customActionSheetOptions" cancelText="{{ 'global.cancel' | translate }}" interface="action-sheet" placeholder="{{ 'settings.changeLanguage' | translate }}">
        <ion-select-option *ngFor="let item of languages" [value]="item.value">{{item.text}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      <ion-label>{{ 'settings.removeAllData' | translate }}</ion-label>
    </ion-list-header>
    <ion-item color="danger" (click)="removeAllData()" detail>
      <ion-label color="light">{{ 'settings.removeAllData' | translate }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
